# Type of Variables

In [2]:
x, y, z = 45, "Yiniji", "Sao niu"

In [3]:
type(x)

int

In [4]:
type(0.01)

float

In [5]:
type(z)

str

In [9]:
a=0.12
a=int(a)

In [10]:
type(a)

int

In [11]:
type(str(a))

str

In [38]:
squares = [1, 4, 9, 25, 36, 49, 64] 
squares

[1, 4, 9, 25, 36, 49, 64]

In [15]:
mixed_list = ["one", 1, "four", 4, "nine", 9, "twenty five", 25] 
mixed_list

['one', 1, 'four', 4, 'nine', 9, 'twenty five', 25]

In [16]:
list_of_lists = [["one", 1], ["four", 4], ["nine", 9], ["twenty five", 25]] 
list_of_lists

[['one', 1], ['four', 4], ['nine', 9], ['twenty five', 25]]

In [17]:
type(list_of_lists)

list

In [19]:
squares[0]

1

# Lists slicing

In [22]:
squares

[1, 4, 9, 25, 36, 49, 64]

In [20]:
squares[:3]

[1, 4, 9]

In [21]:
squares[4:] #after the fourth

[36, 49, 64]

In [23]:
squares[2:5]

[9, 25, 36]

In [25]:
squares[::2]#step = 2

[1, 9, 36, 64]

In [39]:
squares[::-1] #reverse

[64, 49, 36, 25, 9, 4, 1]

In [30]:
squares[3]=0
squares #update value

[1, 4, 9, 0, 36, 49, 64]

In [32]:
squares[1:4]=[1,2,3]
squares

[1, 1, 2, 3, 36, 49, 64]

# Looping

In [41]:
list = [1, 3, 5, 7, 9] #define the list
# Using for loop 
for i in list: 
    print(i)

1
3
5
7
9

In [42]:
# Python code to iterate over a list 
list = [1, 3, 5, 7, 9]
# getting length of list 
length = len(list)
# Iterating the index # same as 'for i in range(len(list))' 
for i in range(length): 
    print(list[i])

1
3
5
7
9

In [43]:
# Python code to iterate over a list 
list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
# Using list comprehension 
[print(i) for i in list]

1
2
3
4
5
6
7
8
9

[None, None, None, None, None, None, None, None, None]

In [44]:
squared = [i**2 for i in list] 
print(squared)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

#  Selected Methods for Python Lists

In [76]:
x = [30, 60, 70, 100, 120] 
x

[30, 60, 70, 100, 120]

In [77]:
x.append(150) 
x

[30, 60, 70, 100, 120, 150]

In [78]:
x.extend([170, 180, 190]) 
x

[30, 60, 70, 100, 120, 150, 170, 180, 190]

In [79]:
x.insert(1, 60) # first argument is index and second argument is the value to insert 
x

[30, 60, 60, 70, 100, 120, 150, 170, 180, 190]

In [80]:
x.remove(70) # remove the first occurance of element with value of 70
x

[30, 60, 60, 100, 120, 150, 170, 180, 190]

In [81]:
x.index(60) # returns the index of 60 in the list

1

In [82]:
x.count(60) # there are 4 occurances of 60 in the list

2

In [87]:
x = [60, 20, 90, 35, 15] 
x.sort() # sorts in ascending order by default 
x

[15, 20, 35, 60, 90]

In [88]:
x.sort(reverse= True)
x

[90, 60, 35, 20, 15]

In [89]:
x.reverse() #reverses the order of elements in x 
x

[15, 20, 35, 60, 90]

#  Dictionaries

In [96]:
Jinitaimei = {
'Yinni': 'Ji', 'Sao': 'Niu', 'Laoshi': 'Zhuang', 'Bao': 'Bao'
}
print(Jinitaimei)

{'Yinni': 'Ji', 'Sao': 'Niu', 'Laoshi': 'Zhuang', 'Bao': 'Bao'}

In [98]:
type(Jinitaimei)

dict

In [99]:
Jinitaimei['Yinni']

'Ji'

In [100]:
person = {} #initialize the dictionary 
type(person)

dict

In [101]:
person['Yinni'] = 'Ji' 
person['Sao'] = 'Niu' 
person['Bao'] = 'Bao' 
person['fafa'] = {'Appearance': 'Handsome', 'IQ': 'High'}
print(person)

{'Yinni': 'Ji', 'Sao': 'Niu', 'Bao': 'Bao', 'fafa': {'Appearance': 'Handsome', 'IQ': 'High'}}

In [102]:
person['Bao']

'Bao'

In [103]:
person['fafa']['IQ']

'High'

In [106]:
countries = ['Peru','Armenia','Jordan','Norway'] 
cities = ['Lima', 'Yerevan', 'Amman', 'Oslo']
capitals = dict(zip(countries, cities))
capitals

{'Peru': 'Lima', 'Armenia': 'Yerevan', 'Jordan': 'Amman', 'Norway': 'Oslo'}